@charset "UTF-8";
@font-face{
	font-family:  'TituloPrincipal';
	src: url("../_fonts/computer-font.ttf");
}
@font-face{
	font-family: "diferenciada";
	src: url("../_fonts/bubblegum-sans-regular.otf");
}
@font-face {
	font-family: "blabla";
	src: url("../_fonts/Rajdhani-Medium.ttf");
}
p {
	font-family: blabla;
	text-align: justify; 			
	text-indent: 40px;
	padding: 0px;
	margin: 0px;
}
body {
	background: rgb(160,160,160);
	/*background: #606060;	*/
}

div#interface {
	/*position: relative;*/
	display: block;
	width: 1200px;
	/*height: 1600px;*/
	background-color: #eeeeee;
	/*left: 50%;
	transform: translate(-50%, 0);
	top: -20px;*/
	margin: -21.5px auto 0px auto; /*margem fora do conteiner*/
	box-shadow: 0px 0px 20px black;
	padding: 2px 25px 1px 25px; /*margem dentro do conteiner*/
}

div#interface h2 {
	font-family: TituloPrincipal, sans-serif;
	font-size: 32px;
	color: #000000;
	padding: 0px;
	margin-bottom: 1px;
}

img#icone {
	position: absolute;
	top: 60px;
	left: 1090px;
}

header#cabecalho {
	border-bottom: 1.5px #606060 solid;
	height: 150px;
	/*background: url("../_imagens/1000px-Google_Glass_logo.svg.png") no-repeat 0px 100px;*/
}
img#glass {
	max-height: 40px;
	position: relative;
	top: 20px;
}
header#cabecalho h1{
	font-family: arial, sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 2px 1px 1.5px rgba(0,0,0,0.6);
	margin-bottom: 0px;
}
header#cabecalho h2 {
	font-family: arial, sans-serif;
	color: #888888;
	font-size: 15pt; 
	margin-top: 4px;
}

hgroup h1 {
	font-family: TituloPrincipal, sans-serif;
	font-size: 40px;
	color: #000000;
	padding-bottom: 0px;
	margin-bottom: 0px; 
	/*text-align: center;*/
}
hgroup h3 {
	font-family: arial, sans-serif;
	font-size: 10pt;
	color: #888888;
	padding-bottom: 0px;
	margin-bottom: -20px;
}
hgroup h5 {
	padding-top: 0px;
	margin-top: -12px;
	text-align: left;
}
a {
	color: #606060;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* formatação de legendas com imagem*/

figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	box-shadow: 2px 2px 15px black;
}

figure.foto-legenda img{
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.55);
	color: white; 
	width: 100%;
	height: 100%;
	padding: 40px;
	box-sizing: border-box;
	transition: opacity 2s;
}

figure.foto-legenda:hover figcaption {
	opacity: 1;
}

/* formatação menu */
nav#menu {
	display: inline-block;
}

nav#menu ul, ol {
	list-style: none;
	text-transform: uppercase; /*deixa letra maiuscula*/
	position: absolute;
	top: -20px;
	left: 620px; 
}

nav#menu li {
	display: inline-block; /*deixar o menu um do lado do outro*/
	background: #dddddd;
	padding: 8px; /*espaço dentro dos botoes*/
	margin: 2px; /*espaço fora dos botoes*/
	transition: 1s;
}

nav#menu li:hover {
	background: #606060; 
}

nav#menu h1{
	display: none;
}

nav#menu a{
	color: rgba(0,0,0,1);
	text-decoration: none;
}

nav#menu a:hover{
	color: rgb(255,255,255);
}
section#corpo {
	display: block;
	width: 640px;
	float: left;
	border-right: 2px solid	 black;
	padding-right: 40px; 
	padding-bottom: 30px; 
}
aside#lateral {
	display: block;
	width: 480px;
	float: right;
	padding-left: 35px; 
}
footer#rodape {
	clear: both;
	border-top: 2px solid black;
	padding: 0px;
	margin: 0px;
}
table {
	border: 1px solid black;
	border-spacing: 0px;
	/*background: #606060;*/
	margin-right: auto;
	margin-left: auto;
}
table td {
	border: 1px solid #202020;
	border-spacing: 0px;
	padding: 8px 4px 8px 8px;
	vertical-align: top;
	background: rgb(160,160,160);
	color: #202020;
}

table td.esquerda {
	text-align: right;
	background: #202020;
	color: #dddddd;
	font-weight: bold;
}
table caption {
	color: #888888;
	font-size: 13pt;
	font-weight: bold;
}
table span {
	display: block;
	color: black;
	font-size: 7.5pt;
	float: right;
	margin-top: 10px;
}
