@charset "UTF-8";

ul#album-fotos {
	position: relative;
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
} 

ul#album-fotos li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 2px solid rgb(238, 238, 238);
	border-radius: 3px;
	background: transparent;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
}

ul#album-fotos li:hover {
	transform: scale(1.5);
}

ul#album-fotos li#foto01 { 
	background: url("../_imagens/galeria-01.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff; 
	transition: .35s ease-in;
}

ul#album-fotos li#foto01:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto02 { 
	background: url("../_imagens/galeria-02.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
	transition: .4s; 
}

ul#album-fotos li#foto02:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto03 { 
	background: url("../_imagens/galeria-03.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
	transition: .4s; 
}

ul#album-fotos li#foto03:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto04 { 
	background: url("../_imagens/galeria-04.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
	transition: .4s; 
}

ul#album-fotos li#foto04:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto05 { 
	background: url("../_imagens/galeria-05.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
	transition: .4s; 
}

ul#album-fotos li#foto05:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto06 { 
	background: url("../_imagens/galeria-06.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
	transition: .4s; 
}

ul#album-fotos li#foto06:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}


ul#album-fotos span {
	opacity: 0;
	background: rgba(0, 0, 0, .4);
	color: #fff;
	text-shadow: 1px 1px 3px black;
	line-height: 370px;
	padding: 5px;
	transition: 1s;
}

ul#album-fotos li:hover span {
	margin-left: 6px;
	opacity: 1;
}
