@charset "UTF-8";

div#tv-audio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url("../_imagens/radio-tv.png") no-repeat; 
}

audio#musica {
	position: relative;
	display: block;
	top: 500px;
	left: 568px;
	width: 310px;
}

video#filme {
	position: relative;
	display: block;
	top: 80px;
	left: 75px;
	width: 470px;
}